<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI -SAI</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="logo-senai">
        <img src="/static/images/logo-senai-1.png" width="195" height="145" class="logo-senai" alt="Logo SENAI">
    </div>

    <h1 class="title">Quem é você?</h1>

    <div class="cards-wrapper">
        <div class="card card-green" data-id="adm">
            <h2 class="card-title">Administrador</h2>
            <p class="card-description">Escolha esta opção para acessar o caminho de administrador</p>
        </div>

        <div class="card card-blue" data-id="usuario">
            <h2 class="card-title">Espectador</h2>
            <p class="card-description">Selecione esta opção para explorar recursos de espectador</p>
        </div>
    </div>

    <button class="btn" data-id="login">Entrar</button>

    <script src="/static/index.js"></script>

</body>

</html>